{% extends "base.html" %}
{% load static %}
{% load bag_subtotal %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutters"> <!-- Row to contain page title -->
            <div class="col-12 pt-4 text-center">
                <h2 class="title d-inline-block page-title-border m-0">Shopping Bag</h2>
            </div>
        </div>
        <div class="row no-gutters justify-content-center pt-5"> <!-- Row to contain actual content -->
            <div class="col-12 col-lg-10">
                <div class="row no-gutters justify-content-between">
                    <div class="col-12 col-sm-10 col-md-7 col-xl-5 mx-auto mx-md-2 mx-xl-5 p-0"> <!-- Products inside bag will be displayed here -->
                        {% if bag_items %}
                            <div class="h-100 bag-items-color p-3 m-0">
                                {% for item in bag_items %}
                                    <div class="row no-gutters my-1">
                                        <div class="col-4">
                                            {% if item.product.image_url %}
                                                <a href="{% url 'product' item.product.id %}">
                                                    <img class="product-image" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                                                </a>
                                            {% elif item.product.image %}
                                                <a href="{% url 'product' item.product.id %}">
                                                    <img class="product-image" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product' item.product.id %}">
                                                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-8 pl-3">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div class="col-10">
                                                            <p class="text-black"><strong>{{ item.product.name }}</strong></p>
                                                        </div>
                                                        <div class="col-2 text-right">
                                                            <form class="remove-form bag-items-color" action="{% url 'delete_from_bag' item.product.id %}" method="POST">
                                                                {% csrf_token %}
                                                                {% if item.flavour %}
                                                                    <input type="hidden" name="flavour" value="{{ item.flavour }}">
                                                                {% endif %}
                                                                <button class="border-0 bag-items-color" type="submit" value="Remove From Bag"><i class="fas fa-times my-icon-small"></i></button>
                                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <p class="text-black">{{ item.product.price }}€</p>
                                                    {% if item.product.category.name == "cookies" or item.product.category.name == "cupcakes" %}
                                                        <p class="text-black text-small">Flavour: {{ item.flavour }}</p>
                                                    {% endif %}
                                                    <!--<p class="text-black text-small">Notes: {{ item.notes }}</p>-->
                                                    <p class="text-black text-small">Sub-total: {{ item.product.price | calc_subtotal:item.quantity }}€</p>
                                                </div>
                                            </div>
                                            <div class="row no-gutters pt-3">
                                                <button class="favorites py-1 px-3 mr-3"> <!-- Will, later, allow users to add or remove item from favorites -->
                                                    <i class="far fa-heart my-icon"></i> <!--<i class="fas fa-heart my-icon"></i>-->
                                                </button>
                                                <form class="update-form p-0 bag-items-color" action="{% url 'update_bag' item.product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <select class="my-select form-control bag-items-color quantity-box rounded-0"name="quantity" onchange="this.form.submit()">
                                                        <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1</option>
                                                        <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2</option>
                                                        <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3</option>
                                                        <option value="4" {% if item.quantity == 4 %}selected{% endif %}>4</option>
                                                        <option value="5" {% if item.quantity == 5 %}selected{% endif %}>5</option>
                                                        <option value="6" {% if item.quantity == 6 %}selected{% endif %}>6</option>
                                                        <option value="7" {% if item.quantity == 7 %}selected{% endif %}>7</option>
                                                        <option value="8" {% if item.quantity == 8 %}selected{% endif %}>8</option>
                                                        <option value="9" {% if item.quantity == 9 %}selected{% endif %}>9</option>
                                                        <option value="10" {% if item.quantity == 10 %}selected{% endif %}>10</option>
                                                        <option value="11" {% if item.quantity == 11 %}selected{% endif %}>11</option>
                                                        <option value="12" {% if item.quantity == 12 %}selected{% endif %}>12</option>
                                                        <option value="13" {% if item.quantity == 13 %}selected{% endif %}>13</option>
                                                        <option value="14" {% if item.quantity == 14 %}selected{% endif %}>14</option>
                                                        <option value="15" {% if item.quantity == 15 %}selected{% endif %}>15</option>
                                                        <option value="16" {% if item.quantity == 16 %}selected{% endif %}>16</option>
                                                        <option value="17" {% if item.quantity == 17 %}selected{% endif %}>17</option>
                                                        <option value="18" {% if item.quantity == 18 %}selected{% endif %}>18</option>
                                                        <option value="19" {% if item.quantity == 19 %}selected{% endif %}>19</option>
                                                        <option value="20" {% if item.quantity == 20 %}selected{% endif %}>20</option>
                                                    </select>
                                                    {% if item.flavour %}
                                                        <input type="hidden" name="flavour" value="{{ item.flavour }}">
                                                    {% endif %}
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% if not forloop.last %}
                                        <div class="col-12 px-2">
                                            <hr>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="h-100 bag-items-color p-3 m-0">
                                <p class="text-black text-center">Ups, seems like your bag is empty!</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-10 col-md-4 col-xl-3 mx-auto mx-md-2 mx-xl-5 p-0 mt-3 mt-md-0"> <!-- Bag total and checkout info/button -->
                        <div class="p-3 checkout-box m-0">
                            {% if bag_items %}
                            <p class="text-black mb-2 text-right">Number of Items: {{ number_of_products }}</p>
                            <p class="text-black mb-2 text-right">Order Total: {{ total }}€</p>
                            <hr>
                            {% endif %}
                            <div class="row no-gutters justify-content-center">
                                <a href="{% url 'products' %}" class="btn btn-sm my-submit-btn mr-2 mb-2 p-1 rounded-0 text-black">Keep Shopping</a>
                                {% if bag_items %}
                                <a href="{% url 'checkout' %}" class="btn btn-sm my-submit-btn mb-2 p-1 rounded-0 text-black">Secure Checkout</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}