html {
    height: 100%;
}

/* Fonts, text color and decoration */

.logo {
    color: #000 !important;
    font-family: 'Bad Script', cursive;
    font-size: 3.5rem;
}

.title {
    color: #000 !important;
    font-family: 'Italianno', cursive;
}

.text-black {
    color: #000 !important;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

.text-grey {
    color: #666666 !important;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

.size-big {
    font-size: 1.5rem;
}

a {
    color: #000 !important;
    text-decoration: none;
}

.text-grey a {
    color: #666666 !important;
    text-decoration: none;
}

a:hover {
    color: #000 !important;
    text-decoration: none;
}

/* Background */

.header-color {
    background-color: #F6EBD9;
    border-bottom: 8px solid #E0CE9E;
}

.search-color {
    background-color: #F6EBD9;
}

.footer-color {
    background-color: #F6EBD9;
    border-top: 8px solid #E0CE9E;
}

.my-image {
    background: url('/media/home.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 750px;
}

/* Buttons */

.navbar-toggler {
    border: none;
    color: #000 !important;
    padding: 0;
}

.my-submit-btn {
    background-color: #D9B3A6;
    border: 1px solid #000;
}

/* Icons */

.my-icon {
    font-size: 1.5rem;
}

.social-media {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #D9B3A6;
    width: 2rem;
    height: 2rem;
    padding-top: .25rem;
}

/* Other */

hr {
    background-color: #D9B3A6;
    height: 2px;
}