html {
    height: 100%;
}

body {
    width: 100%;
}

/* Fonts, text color and decoration */

.logo {
    color: #000 !important;
    font-family: 'Bad Script', cursive;
    font-size: 3.5rem;
}

.title {
    color: #000 !important;
    font-family: 'Italianno', cursive;
}

.page-title-border {
    border-bottom: 2px solid #000;
}

.text-black,
label {
    color: #000 !important;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

::placeholder,
.my-select {
    color: #666666 !important;
    font-family: 'Philosopher', sans-serif !important;
}

.text-small {
    font-size: 12px;
}

.text-grey {
    color: #666666 !important;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

a {
    color: #000 !important;
    text-decoration: none;
    padding: 0 !important;
}

.text-grey a {
    color: #666666 !important;
    text-decoration: none;
}

a:hover {
    color: #000 !important;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #F6EBD9;
    text-decoration: underline;
}

.nav-item:hover {
    text-decoration: underline;
}

.bag-dropdown .dropdown-item:hover {
    text-decoration: none !important;
}

/* Background */

.header-color {
    background-color: #F6EBD9;
    border-bottom: 8px solid #E0CE9E;
}

.dropdown-color,
.toast-color,
.bag-items-color {
    background-color: #F6EBD9;
}

.footer-color {
    background-color: #F6EBD9;
    border-top: 8px solid #E0CE9E;
}

.my-image {
    background: url('/media/home.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 750px;
}

.checkout-box,
.quantity-box,
.allauth-box {
    border: 2px solid #E0CE9E;
}

.favorites {
    border: 2px solid #E0CE9E;
    background-color: #F6EBD9;
}

/* Images */

.product-image {
    object-fit: cover;
    width: 100%;
}

/* Buttons */

.navbar-toggler {
    border: none;
    color: #000 !important;
    padding: 0;
}

.my-submit-btn {
    background-color: #D9B3A6;
    border: 1px solid #000;
}

.my-submit-btn:hover {
    background-color: #D9B3A6;
    border: 1px solid #000;
    color: #000;
    text-decoration: underline;
}

.btt-button { /* Taken from Boutique Ado walkthrough project */
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
}

.btt-link { /* Taken from Boutique Ado walkthrough project */
    cursor: pointer;
}

/* Icons */

.my-icon {
    font-size: 1.5rem !important;
}
.my-icon-small {
    font-size: 1rem !important;
}

.social-media {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #D9B3A6;
    width: 2rem;
    height: 2rem;
    padding-top: .25rem;
}

.navbar-toggler {
    padding-bottom: 16px;
}

/* Forms and Inputs */

.my-search {
    border-bottom: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
}

.search-input:focus {
    background-color: #F6EBD9;
}

.input-border,
.border-dropdown,
.toast-border {
    border: 2px solid #D9B3A6;
}

/* Toasts */

.message-container {
    position: absolute;
    z-index: 999999999;
    top: 1rem;
    right: 1rem;
}

.my-toast {
    overflow: visible;
}

.toast-header {
    border-bottom: 1px solid #D9B3A6;
}

/* Allauth */

.allauth-form-inner-content {
    color: #000 !important;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

.allauth-form-inner-content input {
    border-radius: 0px;
}

.allauth-form-inner-content label:not([for= 'id_remember']) {
    display: none;
}

/* Other */

hr,
.dropdown-divider {
    background-color: #D9B3A6;
    height: 2px;
}

.page-content {
    margin-top: 185px;
}

.my-content {
    min-height: calc(100vh - 185px - 72px);
}

.my-footer {
    width: 100%;
}

.bag-dropdown {
    width: 250px !important;
    border: 2px solid #D9B3A6;
}

.my-order,
.my-order-history {
    max-height: 500px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

/* Media Queries */

@media (min-width: 768px){
    /*         To make dropdown open on hover in desktop */

    .dropdown-menu {
    margin: -0.125rem 0 0;
    }

    .dropdown:hover>.dropdown-menu {
    display: block;
    }
}

@media (max-width: 767px){
    .logo {
        font-size: 1.5rem !important;
    }

    .my-icon {
        font-size: 1rem !important;
    }

    .page-content {
        margin-top: 88px;
    }

    .dropdown-item:hover {
        background-color: #F6EBD9;
        text-decoration: none;
    }

    .nav-item:hover {
       text-decoration: none;
    }
}