.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 2px solid #D9B3A6 !important;
  border-radius: 0px;
  background-color: #fff;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #666666 !important;
    font-family: 'Philosopher', sans-serif !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
    font-size: 20px;
}

#checkout-form .form-control,
#card-element {
    border-radius: 0;
}