{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="row no-gutters my-3 product_image">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="my-3 product_details">
                    <h5 class="text-black mb-2"><strong>{{ product.name }}</strong></h5>
                    {% if not product.price == 0.00 %}
                        <p class="text-black"><strong>{{ product.price }}€</strong> {% if not product.quantity == 1 %} / {{ product.quantity }}units {% endif %}</p>
                    {% endif %}
                    <p class="text-black mb-2">{{ product.description }}</p>
                    {% if product.category %}
                        <p class="text-grey">
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-bookmark"></i> {{ product.category.viewer_name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
                {% if not product.price == 0.00 %} 
                    <!-- Code for the form to Add Product to Cart -->
                    <div class="my-3 add_product">
                        <h6 class="text-black"><strong><u>Order now</u></strong></h6>
                        <form class="add-form py-1" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_qty_{{ product.id }}" class="text-black mb-2">Quantity</label>
                                <div class="input-group justify-content-center">
                                    <div class="input-group-prepend"> <!-- Taken from Boutique Ado walkthrough project -->
                                        <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="number" class="form-control rounded-0 qty_input mx-2" id="id_qty_{{ product.id }}" name="quantity" value="1" min="1" max="20" data-item_id="{{ product.id }}">
                                    <div class="input-group-append">  <!-- Taken from Boutique Ado walkthrough project -->
                                        <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% if product.category.name == "cookies" %}
                                <div class="form-group">
                                    <label for="cookie_{{ product.id }}" class="text-black">Cake</label>
                                    <select class="form-control rounded-0" id="cookie_{{ product.id }}" name="flavour">
                                        <option>Butter Cookie</option>
                                        <option>Cinnamon Cookie</option>
                                        <option>Lemon Cookie</option>
                                    </select>
                                </div>
                            {% elif product.category.name == "cupcakes" %}
                                <div class="form-group">
                                    <label for="cupcake_{{ product.id }}" class="text-black">Cupcake</label>
                                    <select class="form-control rounded-0" id="cupcake_{{ product.id }}" name="flavour">
                                        <option>Chocolate Cupcake</option>
                                        <option>Iogurt Cupcake</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="notes_{{ product.id }}" class="text-black">Notes</label>
                                <textarea class="form-control rounded-0 mt-2" id="notes_{{ product.id }}" placeholder="Please give us a bit more information about your product"></textarea>
                            </div>
                            <div class="row no-gutters justify-content-end">
                                <input type="submit" class="btn btn-sm my-submit-btn rounded-0 text-black" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                {% else %}
                    <!-- Code for the form to Ask for Product Quotation -->
                    <div class="my-3 quotation">
                        <h6 class="text-black"><strong><u>Ask for quotation</u></strong></h6>
                        <form class="add-form py-1" action="" method="POST"> <!-- Not connected yet -->
                            {% csrf_token %}
                            <div class="form-group mb-1">
                                <label for="email" class="text-black">Email address</label>
                                <input type="email" class="form-control rounded-0 mt-2" id="email" placeholder="Please enter your email">
                            </div>
                            <div class="form-group mb-1">
                                <label for="name" class="text-black">Name</label>
                                <input type="text" class="form-control rounded-0 mt-2" id="name" placeholder="Please enter your name">
                            </div>
                            {% if product.category.name != "thematic_tables" %}
                                <div class="form-group mb-1">
                                    <label for="cake_{{ product.id }}" class="text-black">Cake</label>
                                    <select class="form-control rounded-0" id="cake_{{ product.id }}">
                                        <option>Sponge Cake</option>
                                        <option>Lemon Cake</option>
                                        <option>Chocolate Cake</option>
                                        <option>Iogurt Cake</option>
                                        <option>Red Velvet Cake</option>
                                        <option>Pineapple Cake</option>
                                        <option>Coconut Cake</option>
                                        <option>Carot Cake</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="cakecream_{{ product.id }}" class="text-black">Cream</label>
                                    <select class="form-control rounded-0" id="cakecream_{{ product.id }}">
                                        <option>Dark Chocolate Cream</option>
                                        <option>White Chocolate Cream</option>
                                        <option>Milk Chocolate Cream</option>
                                        <option>Nutella</option>
                                        <option>Chantilly</option>
                                        <option>Chantilly with Pineapple</option>
                                        <option>Chantilly with Strawberry</option>
                                        <option>Chantilly with Passionfruit</option>
                                        <option>Chantilly with Mango</option>
                                        <option>Red Berries Cream</option>
                                        <option>Strawberry Cream</option>
                                        <option>Oreo Cream</option>
                                        <option>No-Cream</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="cakeextra_{{ product.id }}" class="text-black">Extras</label>
                                    <select class="form-control rounded-0" id="cakeextra_{{ product.id }}">
                                        <option>None</option>
                                        <option>Nuts</option>
                                        <option>Almond</option>
                                        <option>Hazelnut</option>
                                        <option>Chocolate Bits</option>
                                        <option>Fruit Bits</option>
                                        <option>Oreo</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="request_{{ product.id }}" class="text-black">Additional Information</label>
                                    <textarea class="form-control rounded-0 mt-1" id="request_{{ product.id }}" placeholder="Please give us all the information about your wish"></textarea>
                                </div>
                            {% else %}
                                <div class="form-group mb-3">
                                    <label for="requesttable_{{ product.id }}" class="text-black">Table Information</label>
                                    <textarea class="form-control rounded-0 mt-1" id="requesttable_{{ product.id }}" placeholder="Please give us all the information about the products you wish to have on your table"></textarea>
                                </div>
                            {% endif %}
                            <div class="row no-gutters justify-content-end">
                                <button type="submit" class="btn btn-sm my-submit-btn rounded-0"><p class="text-black">Place request</p></button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript"> /// Taken from Boutique Ado walkthrough project
        // Disable +/- buttons outside wanted range
        function handleEnableDisable(itemId) {
            var currentValue = parseInt($(`#id_qty_${itemId}`).val());
            var minusDisabled = currentValue < 2;
            var plusDisabled = currentValue > 19;
            $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }

        // Ensure proper enabling/disabling of all inputs on page load
        var allQtyInputs = $('.qty_input');
        for(var i = 0; i < allQtyInputs.length; i++){
            var itemId = $(allQtyInputs[i]).data('item_id');
            handleEnableDisable(itemId);
        }

        // Check enable/disable every time the input is changed
        $('.qty_input').change(function() {
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Increment quantity
        $('.increment-qty').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue + 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Decrement quantity
        $('.decrement-qty').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue - 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });
	</script>

{% endblock %}